form {
  width: 100%;
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  align-items: center;
  border: 1px solid #332E59;
}

.form-input {
  width: 95%;
  padding: 0.5rem;
  font-size: 12pt;
  border: 0px;
  outline: none;
}
